ingress:
  host: chart-example.local
  ingressClassName: nginx

gitRepository: github.com/laszlocph/demo-app
gitSha: xyz


volumes:
  - name: testing
    path: /deleteme
    hostPath:
      path: /deleteme
  - name: empty
    path: /deleteme2
    emptyDir: true

vars:
  var1: value1
  var2: value2
