apiVersion: v1
kind: Service
metadata:
  name: {{ template "robustName" .Release.Name  }}
  labels:
    {{- include "staticSite.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "staticSite.selectorLabels" . | nindent 4 }}
